

<p id="notice"><%= notice %></p>

<% if session[:coach_id] != nil %>
  <%= render partial: "coaches_team"%>

<% elsif session[:user_id] != nil %>
  <%= render partial: "users_team"%>

<% end %>

<script>
  <% if params[:notice].present? %>
    alert(<%= params[:notice] %>);
  <% end %>
</script>
