<h1>Editing Note</h1>

<%= render 'form' %>


<% if session[:coach_id] != nil %>
  <a href="/notes/<%=@note.id%>" class="btn btn-info">Back</a>
<% elsif session[:user_id] != nil %>
  <a href="/users/" class="btn btn-info">Back</a>
<% end %>
