<p id="notice"><%= notice %></p>
<h3>Your daily inspiration...</h3>
<div class="well well-lg">
  <div id="inspo_title">
    <h3><%= @daily_inspo["field_157"] %></h3><br/><br/>
  </div>
  <div id="inspiration_img">
    <span class="badge"><%= image_tag @daily_inspo["field_159_raw"]["url"], class: "center-block" %></span>
  </div>
</div>
