<p id="notice"><%= notice %></p>

<div class="well well-lg">
  <h1>Support</h1>

  <h4>MyHealthStyle's sole purpose is to support our customers with rapport and empathy in reaching their health and wellness goals.</h4>

  <p class="menu_paragraph">> If you are having difficulties with our web-app, please feel free to use our chat service in the lower right hand corner.</p>

  <p class="menu_paragraph">> If you would like additional information, or have questions about our coaches, services, or your subscription, please email:</p>

  <p class="menu_paragraph"><b>&nbsp; &nbsp; &nbsp;&nbsp;info@myhealthstyleinc.com</b></p>
</div>

<script>
  window.intercomSettings = {
    app_id: "rznrsm2q"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/rznrsm2q';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
