<p>Welcome, <%= @name %>! We hope you are as excited as we are about starting this journey together…. The journey to your best <strong>HealthStyle</strong>.</p>

<p>Your coaches have been assigned. Remember, you have a Lead Coach that works with you almost every day (weekends and holidays you two will discuss personally) and two Team Coaches that will connect with you each at least twice a week on specific goals.</p>

<p>It’s important that you check back in frequently (log back in if your browser automatically logs you out) and keep the conversations going. These are real, live people, but communication may not be “real-time” all the time. That’s why we have designed our communications to look and feel like texting so if feels familiar.</p>

<p>The other important thing to remember too is that we are here for you for long-term behavior change. Our coaches will not sell you on a quick fix grapefruit diet or anything else. They will build a relationship with you and the four of you will unveil tangible goals and strategies to achieve them for your success.</p>

<p>Enjoy your new best ever <strong>HealthStyle</strong>!</p>

<p>P.S. You can check out your new coaching team right here.</p>

<p><a href="www.myhealthstyleapp.com"></a></p>

<p>P.P.S. If you ever have any problems, concerns or would like to switch coaches, feel free to contact us on our support page via email or live chat.</p>

<p>Cheers!</p>

<div class="email-logo">
  <%= image_path("healthstyle.s3.amazonaws.com/uploads/02ede56a-e052-4ace-9ea8-019004ff95e5/HS_Logo_B3_LO.jpg") %>
</div>
