

<table class="table table-responsive table-hover team">
  <tr>
    <td>
      "My Team" page (client's mobile view):
    </td>
  </tr>
  <tr>
    <td>
      <img src="/assets/ss1.png" alt="coach avatar" style="max-height: 450px;"/>
      <br/>
    </td>
  </tr>
  <tr>
    <td>
      Chat page (client's mobile view):
    </td>
  </tr>
  <tr>
    <td>
      <img src="/assets/ss2.png" alt="coach avatar" style="max-height: 450px;"/>
      <br/>
    </td>
  </tr>
  <tr>
    <td>
      Messages dashboard (coach's desktop view):
    </td>
  </tr>
  <tr>
    <td>
      <img src="/assets/ss3.png" alt="coach avatar" style="max-height: 350px;"/>
      <br/>
    </td>
  </tr>
  <tr>
    <td>
      "My Team" page (coach's desktop view):
    </td>
  </tr>
  <tr>
    <td>
      <img src="/assets/ss4.png" alt="coach avatar" style="max-height: 450px;"/>
      <br/>
    </td>
  </tr>
</table>
