<p id="notice"><%= notice %></p>



Thanks for signing up! Your account was successfully created! Please check your inbox for the welcome email.

<br>
<br>


<%= link_to 'Continue to Welcome Page!', menu_welcome_path, class: "btn btn-primary" %>
