<p id="notice"><%= notice %></p>



Thanks for signing up! Your account was successfully created!

Before any coaches are assigned to assist you, you must pay the subscription below:


<div class="checkout-amount">
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">

        Total: &nbsp; $10.00

      </label>

    </article>
    <br>

    <form action="/charges/new" method="POST">
      <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key=ENV["LIVE_SECRET_KEY"]
      data-image="assets/images/Healthstyle2K_SM.jpg"
      data-name="MyHealthstyle"
      data-description="Subscription for 1 week"
      data-amount="1000"
      data-label="Sign Me Up!" >
      </script>
    </form>
  <% end %>
</div>
