<div class="jumbotron">
  <%= image_tag"Healthstyle.jpg", class: "main-image"%>
  <h1>Three Coaches, One Goal: A Healthier You!</h1>
<div class="col-md-4 text-center">
<a href="#next" class="btn btn-primary btn-lg button-center">Learn more</a>
</div>
</div>


<a name="next"></a>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam viverra erat nec laoreet hendrerit. Morbi condimentum laoreet odio vel molestie. Sed at viverra arcu. Integer efficitur at erat nec venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent consequat condimentum dolor eu fringilla. Aenean dictum ut nisl quis porta. Proin a viverra nisl, non egestas neque. Vivamus venenatis velit eros, in laoreet libero tincidunt ut.
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam viverra erat nec laoreet hendrerit. Morbi condimentum laoreet odio vel molestie. Sed at viverra arcu. Integer efficitur at erat nec venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent consequat condimentum dolor eu fringilla. Aenean dictum ut nisl quis porta. Proin a viverra nisl, non egestas neque. Vivamus venenatis velit eros, in laoreet libero tincidunt ut.
