
<div class="jumbotron welcome">
  <%= image_tag "Introductory.png", class: " col-sm-12 text-center offer"%>

  <%= image_tag "HS_Logo_B3_LO.jpg", class: "main-image"%>
  <div class="col-md-12 text-center tagline">
    <button class="btn sign-up-button"><a href="#next" class="sign-up-text">Learn More</a></button>
    <span id="mobileshow"><h2><span class="tagline">Three Coaches, One Goal:</span> A Healthier You!</h2></span>
    <span id="desktopshow"><h2>Three Coaches, One Goal: A Healthier You!<br/></h2></span><br/>
    <span class="mobile_hide"><br/><br/></span>
    <!-- <a href="#next" class="btn btn-primary btn-lg button-center">Learn more </a> -->
    <!-- <a href="#next" class="orange_text large">Learn more</a> -->
    <div class="sign-up-button-group">

      <!-- <li class="divider">|</li> -->
      <button class="btn sign-up-button"><%= link_to 'Sign Up Now', new_user_path, class: "sign-up-text"%></button>
      <!-- <li class="divider">|</li> -->
      <button class="btn sign-up-button"><%= link_to 'Sign In', sessions_login_path, class: "sign-up-text"%></button>
    </div>
    <div>
      <a class="arrow-wrap" href="#next" style="opacity: 0.395792;">
      <span class="arrow"></span></a>
    </div>
  </div>
  <br>
</div>
<!-- <ul class="welcome nav"> -->

<!-- </ul> -->
<a name="next"></a>
<div class="next learn-more text-center">
  <br/>
  <span class="mobile_hide"><br/><br/><br/><br/></span>
  <h2 id="uno">What is MyHealthStyle?</h2>
  <p>The MyHealthStyle App puts the power of personal Health Coaching
   in the palm of your hand and on your mobile device.</p>

  <p>Real credentialed professionals dedicated to mentoring you as you
   journey to your individual health goals.</p>

  <p>When you join you will be assigned a team of three HealthStyle
  Coaches who will guide you in a holistic yet accountable manner.</p>

  <p>Your Lead Coach with be in touch every day helping you
  with unwanted behaviors, while your two Team Coaches will
  each encourage you twice a week with specific issues.</p>

  <p>Using this proven approach and additional resources within our
  website, we create an uplifting environment of education and
  hope that enables our clients to thrive.</p>

  <p>Imagine finally attaining your health goals with long-term
   behavior modification right in your fingertips.</p>

  <p>It is this human-to-human contact, every day, with real
  credentialed Health Coaches that makes all the difference
  in reaching and maintaining your goals.</p>

  <p>Let the MyHealthStyle App make a difference for you.</p>
</div>
