<div class="jumbotron ">
  <%= image_tag "Healthstyle2K_SM.jpg", class: "pagination-centered main-image "%>
  <div class="col-md-16 text-center">
    <h2>Three Coaches, One Goal: A Healthier You!</h2>
  <br>


<a href="#next" class="btn btn-primary btn-lg button-center">Learn more</a>
</div>
<br>
</div>

<br>


<h2>What is My HealthStyle?</h2>
<a name="next"></a>

<h4>My HealthStyle, Inc. puts the power of personal Health Coaching in the palm of your hand. No algorithms, no automation, real, licensed, certified professionals dedicated to mentoring you as you journey to your individual health goal.</h4>
<h4>When you join My HealthStyle, Inc., for less than two fast food meals a week, you will receive three health coaches will help guide you to your best health goals.</h4>
<h4>These three trained, My HealthStyle Coaches will inspire you via holistic and positive behavior change motivation and caring, honest support. Your Lead Coach with be in touch every day, while your two Team Coaches will encourage you twice a week.</h4>
<h4>Using this proven approach and special incentives from our website, we create an uplifting environment of education and hope that enables our clients to thrive.</h4>
<h4>Best of all, you get all the benefits of a private office experience with none of the hassle of public waiting rooms or meetings. It is this human-to-human contact, every day, with licensed, certified Health Coaches that makes all the difference in reaching and maintaining your goals.</h4>
<h4>Let My HealthStyle, Inc. make a difference for you.</h4>
