/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");*/
.offer {
  padding-top: 15px;
  width: 100%;
}
.link-text {
  color: blue;
}
body.healthstyle {
  margin-top:10px;
  background:#fcfcfc;
}
body.healthstyle div.content {
  background:#fff;
}
.link {
    color: #FF6600;
    text-decoration: none;
}
.testimonials {
  width: 100%;
  max-width: 600px;
}
.main-image {
  display: block;
  margin: auto;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}

.send_button{
  color: #ffffff;
  background-color: #FF6600;
  border-color: #FF6600;
}

.orange_text{
  color: #FF6600;
}

.orange_text.large {
  font-size: 1.5em;
}

.list-group-item.active > .orange_text,
.nav-pills > .active > a > .orange_text {
  color: #FF6600;
}
.list-group-item > .orange_text {
  float: right;
}
.list-group-item > .orange_text + .orange_text {
  margin-right: 5px;
}
.nav-pills > li > a > .orange_text {
  margin-left: 3px;
}

.btn-info.edit {
  max-width: 200px;
  margin: auto;
}

.smalltext {
  color: gray;
  font-style: italic;
}
