// Place all the styles related to the coaches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_img span {
  width:100%;
  max-width:200px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}
