<p id="notice"><%= notice %></p>

<h4> Please enter the email address linked to your account </h4>
<%= form_tag reports_send_email_path, multipart: true do %>
  <%= email_field_tag :email, nil, placeholder: "Email Address" %><br />
  <%= submit_tag "Submit"%>
<% end %>
